<%= simple_form_for @statement do |f| %>
  <%= f.association :account, collection: Account.ordered %>
  <%= f.input :start_date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :end_date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :start_balance, placeholder: '0.00', as: :numeric, input_html: {step: "0.01"} %>
  <%= f.input :end_balance, placeholder: '0.00', as: :numeric, input_html: {step: "0.01"} %>
  <p><%= f.button :submit, class: 'btn btn-primary' %></p>
<% end %>