<tr class="statement " id="statement_<%= statement.id %>">
  <td><%= link_to statement.start_date.to_date, statement_path(statement) %></td>
  <td><%= link_to statement.end_date.to_date, statement_path(statement) %></td>
  <td><%= link_to statement.start_balance, statement_path(statement) %></td>
  <td><%= link_to statement.end_balance, statement_path(statement) %></td>
  <td><%= link_to statement.account.name, statement_path(statement) %></td>
  <td><%= link_to statement.reconciled?.to_s, statement_path(statement) %></td>
</tr>