<tr class="statement " id="statement_<%= statement.id %>">
  <td><%= statement.start_date.to_date %></td>
  <td><%= statement.end_date.to_date %></td>
  <td><%= statement.start_balance %></td>
  <td><%= statement.end_balance %></td>
  <td><%= statement.account.name %></td>
  <td><%= statement.reconciled %></td>
  <td>
    <%= link_to edit_statement_path(statement), id: "edit-statement-#{statement.id}" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to statement_path(statement), id: "delete-statement-#{statement.id}", method: :delete, confirm: 'Are you sure?' do %>
      <i class="icon-remove"></i>
    <% end %>
  </td>
</tr>