<h2>Reconcile Statement: <%= @statement.account.name %></h2>
<h3>Start: <%= nice_date @statement.start_date %> (<%= humanized_money_with_symbol @statement.start_balance %>)</h3>
<h3>End: <%= nice_date @statement.end_date %> (<%= humanized_money_with_symbol @statement.end_balance %>)</h3>
