<%= render 'totals' %>
<h2><%= @statement.account.name %> statement</h2>
<h3><%= nice_date @statement.start_date %> - <%= nice_date @statement.end_date %></h3>
<table class="table table-striped statement-transactions">
  <tr>
    <th>Date</th>
    <th>Payee</th>
    <th>Amount</th>
    <th>Actions</th>
  </tr>
  <%= render partial: 'statements/transaction', collection: @statement.possible_transactions %>
</table>