<tr class="envelope <%= envelope.row_style %> <%= 'hidden-tablet' if envelope.income? %>" id="envelope-<%= envelope.id %>">
  <td><i class="<%= envelope.income? ? 'icon-plus-sign' : 'icon-minus-sign' %>"></i> <%= envelope.name %></td>
  <td><%= content_tag :span, envelope.balance.format, class: "balance badge #{envelope.badge_style}" if envelope.balance? %></td>
  <td class="hidden-tablet">
    <%= link_to edit_envelope_path(envelope), id: "edit-envelope-#{envelope.id}" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to envelope_path(envelope), id: "delete-envelope-#{envelope.id}", method: :delete, confirm: true do %>
      <i class="icon-remove"></i>
    <% end %>
  </td>
</tr>