<%= link_to "new envelope", new_envelope_path, class: 'btn btn-primary' %>
<h3>Envelopes</h3>
<ul class="nav nav-list">
<% @envelopes.each do |envelope| %>
  <%= content_tag :li do %>
    <%= link_to edit_envelope_path(envelope.id) do %>
      <%= envelope.name %>
      <%= content_tag :span, envelope.balance.format, class: "balance badge #{envelope.badge_style}" %>
    <% end %>
  <% end %>
<% end %>
</ul>
