<%= simple_form_for @transaction do |f| %>
  <%= f.input :entry_date, as: :string, input_html: { class: 'datepicker' } %>
  <%= f.input :payee %>
  <%= select_tag 'withdrawal', options_for_select([['withdrawal','y'],['deposit','n']]) %>
  <%= f.input :amount, placeholder: '0.00', as: :numeric, input_html: {step: "0.01"} %>
  <%= f.association :envelope, collection: Envelope.ordered, label_method: :name_and_balance %>
  <%= f.association :account, collection: Account.ordered %>
  <%= f.input :memo %>
  <%= link_to 'view attachment', @transaction.attachment.url, target: '_blank' if @transaction.attachment.present? %><br>
  <%= f.file_field :attachment %>
  <p><%= f.button :submit, class: 'btn btn-primary' %></p>
<% end %>