<tr>
  <td><%= transaction.created_at %></td>
  <td><%= transaction.payee %></td>
  <td><%= transaction.amount %></td>
  <td><%= transaction.account %></td>
  <td><%= transaction.envelope %></td>
</tr>