<tr class="transaction" id="transaction_<%= transaction.id %>">
  <td><%= transaction.entry_date.to_date %></td>
  <td><%= transaction.payee %><br>
    <small><%= transaction.memo %></small></td>
  <td><%= transaction.amount %></td>
  <td><%= link_to transaction.account.name, account_transactions_path(transaction.account.id)  if transaction.account.present? %></td>
  <%= content_tag :td, transaction.current_account_balance.format if params[:account_id].present? %>
  <td><%= link_to transaction.envelope.name, envelope_transactions_path(transaction.envelope.id) if transaction.envelope.present? %></td>
  <%= content_tag :td, transaction.current_envelope_balance.format if params[:envelope_id].present? %>
  <td>
    <%= link_to edit_transaction_path(transaction), id: "edit-transaction-#{transaction.id}" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to transaction_path(transaction), id: "delete-transaction-#{transaction.id}", method: :delete, confirm: 'Are you sure?' do %>
      <i class="icon-remove"></i>
    <% end %>
  </td>
</tr>