<%= link_to 'new transaction', new_transaction_path, class: 'btn btn-primary new-transaction hidden-phone' %>
<%= link_to 'export all transactions', export_transactions_path, class: 'btn btn-primary pull-right export-transactions hidden-phone' %>
<%= link_to 'import transactions', import_transactions_path, class: 'btn btn-primary pull-right import-transactions hidden-phone' %>
<h2>Transactions</h2>
<table class="table table-striped transactions">
  <tr class="hidden-phone">
    <th>Date</th>
    <th>Payee</th>
    <th>Amount</th>
    <th>Account</th>
    <%= content_tag :th,  'Account Balance' if params[:account_id].present? %>
    <th>Envelope</th>
    <%= content_tag :th,  'Envelope Balance' if params[:envelope_id].present? %>
    <th>Actions</th>
  </tr>
  <%= render @transactions %>
</table>
<%= will_paginate @transactions %>
