<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <i class="icon-tasks icon-white"></i>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to 'Moneybox', root_path, class: 'brand' %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to 'New Transaction', new_transaction_path %></li>
          <li><%= link_to 'Transactions', transactions_path %></li>
          <li><%= link_to 'Envelopes', envelopes_path %></li>
          <li><%= link_to 'Accounts', accounts_path %></li>
          <li><%= link_to 'Statements', statements_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
 
    </div>
  </div>
</div>