<!DOCTYPE html>
<html>
<head>
  <title>Moneybox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'nav' %>
<div class="row-fluid">
  <div class="span2 well">
    <h2>Balances</h2>
    <%= render template: 'accounts/index' %>
    <%= render template: 'envelopes/index' %>
  </div>
  <div class="span7 well">
    <%= content_tag :div, flash[:success].html_safe, class: 'alert alert-success' if flash[:success].present? %>
    <%= content_tag :div, flash[:error].html_safe, class: 'alert alert-error' if flash[:error].present? %>
    <%= yield %>
  </div>
  <div class="span3 well">
    <h2>Inspector</h2>
  </div>
</div>
</body>
</html>
