<tr class="account <%= account.row_style %>" id="account-<%= account.id %>">
  <td><%= account.name %></td>
  <td><%= content_tag :span, account.balance.format, class: "balance badge #{account.badge_style}" if account.balance? %></td>
  <td class="hidden-phone">
    <%= link_to edit_account_path(account), id: "edit-account-#{account.id}" do %>
      <i class="icon-edit"></i>
    <% end %>
    <%= link_to account_path(account), id: "delete-account-#{account.id}", method: :delete, confirm: true do %>
      <i class="icon-remove"></i>
    <% end %>
  </td>
</tr>