<h3>Accounts</h3>
<ul class="nav nav-list">
<% @accounts.each do |account| %>
  <%= content_tag :li do %>
    <%= link_to account_transactions_path(account.id) do %>
      <%= account.name %>
      <%= content_tag :span, account.balance.format, class: "badge #{account.badge_style}" %>
    <% end %>
  <% end %>
<% end %>
</ul>
<%= link_to "new account", new_account_path, class: 'btn' %>